.media
  display: flex
  flex-wrap: wrap
  gap: 10px
  margin-bottom: 10px
  font-size: 15px

  button
    padding: 0
    height: 0

  @media (max-width: 900px)
    font-size: 10px
    article
      font-size: 9px

.filterHeight
  border-radius: 5px
  object-fit: cover
  height: 250px

  @media (max-width: 900px)
    width: 100%
    height: 160px