body{
    background-color: #0F0F0F;
    color: #fff;
}
.movieHover{
    transition: 0.5s;
}
.movieHover:hover{
    transform: scale(1.03);
    transition: 0.5s;
}
#search::placeholder{
    color: #666;
}
.ant-pagination-item-link{
    color: #fff !important;
}
.ant-pagination-item a{
    color: #fff !important;
}
.ant-pagination-item-active{
    background: #666 !important;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 5px;
}
