body{
    background-color: #0F0F0F;
    color: #fff;
}
.movieHover{
    transition: 0.5s;
}
.movieHover:hover{
    transform: scale(1.03);
    transition: 0.5s;
}
#search::placeholder{
    color: #666;
}
.ant-pagination-item-link{
    color: #fff !important;
}
.ant-pagination-item a{
    color: #fff !important;
}
.ant-pagination-item-active{
    background: #666 !important;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 5px;
}
.readmore {
    color: #ededede0;
    background: linear-gradient(163deg,rgb(2 0 36 / 0%) 0,rgb(39 39 39) 65%,rgb(39 39 39) 100%);
    border-radius: 10px;
}

.readmore:hover {
    background: linear-gradient(90deg,rgb(2 0 36 / 0%) 0,rgb(51 51 51) 86%,rgb(51 51 51) 100%)
}
