body{
    background-color: #222E37;
    color: #fff;
}
.movieHover{
    transition: 0.5s;
}
.movieHover:hover{
    transform: scale(1.03);
    transition: 0.5s;
}
::-webkit-scrollbar{
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-thumb{
    background-color: #fff;
    border-radius: 5px;
}
.ant-input{
    outline: none;
    background-color: #222E37;
    color: #fff;
    border: none;
}